<div class="container">
  <div class='page-header'>
    <div class='btn-toolbar float-right'>
      <div class='btn-group'>
        <%= link_to 'Back', admin_members_path, class:"btn btn-info min-width-btn" %>
      </div>
    </div>
  </div>
  <h1>Member Details</h1>
  <p>Name: <%= @member.first_name %> <%= @member.surname %></p>
  <p>DOB: <%= @member.dob %></p>
  <p>Email: <%= @member.email %></p>
  <p>Date Joined: <%= @member.date_joined %></p>
  <p>Date Left: <%= @member.date_left %></p>
  <%= render "admin/invoices/index", locals: { invoices: @member.invoices } %>
</div>
